services:
  vision:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: vision_production:1.0
    network_mode: host
    runtime: nvidia
    privileged: true
    restart: always
    environment:
      CAM_W: "640"
      CAM_H: "480"
      NET_W: "640"
      NET_H: "640"
      MODEL_FILE_PATH: "/models/clothes2.onnx"
      ENGINE_FILE_PATH: "/models/clothes2.plan"
      CONF_TH: "0.65"
      NMS_TH: "0.45"
      NUM_CLASSES: "1"
      CAMERA_ONLY: "true"
      ENABLE_SLAM: "false"
      ENABLE_YOLO: "false"
      ALIGN_DEPTH: "false"
      ENABLE_DEPTH: "false"
      ENABLE_COLOR: "false"
      ENABLE_ARM: "false"
      ENABLE_IMU: "false"
      ENABLE_BEHAVIOR: "false"
      ENABLE_NAV2: "false"
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - /dev/i2c-7:/dev/i2c-7
      - ../src:/opt/vision_ws/src
      - ../tests:/opt/vision_ws/tests
      - slam_data:/tmp/cuvslam
    devices:
      - /dev/bus/usb
      - /dev/i2c-7

volumes:
  slam_data:
