services:
  vision:
    image: vision_production:1.0
    network_mode: host
    runtime: nvidia
    privileged: true
    restart: always
    environment:
      CAM_W: "1280"
      CAM_H: "720"
      NET_W: "640"
      NET_H: "640"
      MODEL_FILE_PATH: "/models/yolov8s.onnx"
      ENGINE_FILE_PATH: "/models/yolov8s.plan"
      CONF_TH: "0.25"
      NMS_TH: "0.45"
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - ../src:/opt/vision/src
    devices:
      - /dev/bus/usb
